.with-side-menu {
	.app-main-menu-container {
		overflow-y: auto;
		overflow-x: hidden;

		.app-menu-item.with-subroutes {
			&:after {
				// triangle
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				right: 2px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 2.5px 0 2.5px 4px;
				border-color: transparent transparent transparent var(--app-menu-color);
				transition: all .4s ease;
				opacity: .8;
			}
		}

		&.app-menu-expanded {
			.app-menu-item.with-subroutes {
				&:after {
					transform-origin: center center;
					transform: rotate(90deg);
					right: 12px;
				}
			}
		}
	}
}
