.theme-default() {
	@app-background: #f8f8f8;
	@app-color: #222;

	@app-primary-background: #135486;
	@app-primary-color: #fff;

	@app-accent-background: #ffbd0e;
	@app-accent-color: #305372;

	@app-danger-background: #e20443;
	@app-danger-color: #fff;

	@app-warning-background: #ffbd0e;
	@app-warning-color: #fff;

	@app-success-background: #409201;
	@app-success-color: #fff;

	@app-info-background: #b3d3ff;
	@app-info-color: #131c2f;

	@app-code-background: #ecdbb7;
	@app-code-color: #444;

	@app-border-color: #dce0e1;
	@app-header-color: #2b566e;
	@app-remark-color: #aaa;

	@app-link-color: @app-primary-background;
	@app-link-color-active: darken(@app-link-color, 10);

	@app-top-background: lighten(@app-menu-background, 15);
	@app-top-color: #fff;

	// main menu
	@app-menu-background: darken(@app-primary-background, 5);
	@app-menu-color: darken(@app-primary-color, 15);

	@app-menu-separator-color: mix(@app-menu-background, #fff, 80);

	@app-menu-current-background: lighten(@app-menu-background, 15);
	@app-menu-current-color: lighten(@app-menu-color, 5);

	@app-menu-focused-background: lighten(@app-menu-background, 15);
	@app-menu-focused-color: lighten(@app-menu-color, 5);

	@app-menu-hover-color: lighten(@app-menu-color, 20);
	@app-menu-hover-background: lighten(@app-menu-background, 10);

	@app-menu-color-lighten: lighten(@app-menu-background, 12);
	@app-menu-color-darken: lighten(@app-menu-background, 5);

	// page submenu
	@app-submenu-background: @app-menu-current-background;
	@app-submenu-color: #000;
	@app-submenu-item-background: lighten(@app-menu-current-background, 10);
	@app-submenu-item-color: lighten(@app-menu-current-color, 10);
}
