.theme-light() {
	@app-background: #fff;
	@app-color: #111;

	@app-primary-background: #49319d;
	@app-primary-color: #fff;

	@app-accent-background: #ff0e8b;
	@app-accent-color: #435123;

	@app-danger-background: #ae1943;
	@app-danger-color: #fff;

	@app-warning-background: #ffbd0e;
	@app-warning-color: #fff;

	@app-success-background: #5b9200;
	@app-success-color: #fff;

	@app-info-background: #b0f3ff;
	@app-info-color: #121b32;

	@app-code-background: #ecdbb7;
	@app-code-color: #444;

	@app-border-color: #dce0e1;
	@app-header-color: #290f1e;
	@app-remark-color: #ccc;

	@app-link-color: @app-primary-background;
	@app-link-color-active: darken(@app-link-color, 10);

	@app-top-background: #eee;
	@app-top-color: #51585f;

	// main menu
	@app-menu-background: #fff;
	@app-menu-color: #555;

	@app-menu-separator-color: mix(@app-menu-background, #fff, 80);

	@app-menu-current-background: #f2f2f2;
	@app-menu-current-color: @app-accent-background;

	@app-menu-focused-background: lighten(@app-menu-background, 5);
	@app-menu-focused-color: #13182d;

	@app-menu-hover-color: lighten(@app-menu-color, 20);
	@app-menu-hover-background: lighten(@app-menu-background, 10);

	@app-menu-color-lighten: lighten(@app-menu-background, 12);
	@app-menu-color-darken: lighten(@app-menu-background, 5);

	// page submenu
	@app-submenu-background: #fff;
	@app-submenu-color: #000;
	@app-submenu-item-background: #f8f8f8;
	@app-submenu-item-color: lighten(@app-menu-current-color, 10);

	&.with-top-menu {
		.app-menu {
			.app-main-menu {
				.app-menu-item {
					margin: 6px;
					border-radius: 6px;
				}
			}
		}
	}

	.page-submenu {
		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			background-color: @app-accent-background;
		}

		.page-submenu-item {
			margin: 0;
			align-self: flex-end;

			&:first-of-type {
				border-radius: 6px 0 0 0;
			}

			&:last-of-type {
				border-radius: 0 6px 0 0;
			}
		}
	}
}
