.with-breadcrumbs, .with-page-menu {
	.app-layout {
		min-height: calc(100vh - var(--app-breadcrumbs-height));
	}
}

.with-top-menu {
	.app-layout {
		min-height: calc(100vh - var(--app-menu-height));
	}
}

.with-top-menu.with-breadcrumbs, .with-top-menu.with-page-menu {
	.app-layout {
		min-height: calc(100vh - var(--app-breadcrumbs-height) - var(--app-menu-height));
	}
}

.app-layout {
	color: var(--app-color);
	display: flex;
	flex: auto;
	flex-direction: column;
	width: 100vw;

	background-color: var(--app-background);

	.app-layout-content {
		flex: auto;
		min-height: 0;

		background-color: var(--app-background);
		color: var(--app-color);
	}
}
