.app-layout {
	color: var(--app-color);
	display: flex;
	flex: auto;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;

	background-color: var(--app-background);

	.app-layout-content {
		box-sizing: border-box;
		flex: auto;
		min-height: 0;
		margin-left: 80px;

		background-color: var(--app-background);
		color: var(--app-color);
	}
}
