html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--app-background);
	color: var(--app-color);
	// overflow-y: auto;
	// overflow-x: hidden;
	min-height: 100%;
	min-width: 100vw;
}

#app-mount-point {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
}

.app-container {
	position: relative;
	z-index: 100;
}

.app-content {
	background-color: var(--app-background);
	color: var(--app-color);
}
