.app-footer {
	display: flex;
	background-color: var(--app-background);
	align-content: flex-start;
	justify-content: flex-end;
	align-items: flex-end;
	justify-items: flex-end;
	flex-flow: row nowrap;
	padding: 0;
	margin: 0 auto;

	width: var(--app-page-width);

	box-sizing: border-box;
	flex: 0 0 auto;

	.app-footer-content {
		display: block;
		max-width: var(--app-page-width);
		width: auto;
		padding: 32px;
		color: var(--app-color-remark);

		box-sizing: border-box;
	}
}
