@import "../../../styles/@media.less";

.home-sitemap {
	li {
		display: flex;
		flex-flow: row wrap;
		align-content: center;
		position: relative;

		a {
			margin-right: 1em;
			flex-grow: 0;
			display: flex;
			align-content: center;
		}

		&:before {
			position: absolute;
			content: '';
			background-color: var(--app-accent-background);
			display: flex;
			align-items: center;
			align-content: center;
			justify-items: center;
			width: 5px;
			height: 5px;
			top: .6em;
			left: -1em;
			border-radius: 100%;
		}
	}

	.home-route-url {
		color: var(--app-remark-color);
		font-size: var(--app-small-font-size);
		white-space: nowrap;
	}

	.home-route-auth, .home-route-not-auth {
		font-size: var(--app-small-font-size);
		white-space: nowrap;
		margin-left: 1em;
		width: 22px;
		height: 22px;
		display: inline-flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		justify-items: center;
		border-radius: 100%;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	}

	.home-route-auth {
		background-color: var(--app-success-background);

		.app-icon {
			fill: var(--app-success-color);
		}
	}

	.home-route-not-auth {
		background-color: var(--app-danger-background);

		.app-icon {
			fill: var(--app-danger-color);
		}
	}
}

.home-top-panel {
	.app-top-panel-content {
		height: 220px;
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		padding: 0;
		max-width: @app-media-max;
		margin: 0 auto;
		overflow: hidden;

		.app-title {
			margin: 0 0 0 -12px;
			white-space: nowrap;

			h1 {
				font-size: 5em;
				margin: 0;
				line-height: 1em;
				color: var(--app-accent-background);
			}

			.app-subtitle {
				margin-left: .5em;
				font-size: 2em;
				line-height: 2.4em;
				white-space: nowrap;

				span {
					vertical-align: baseline;
					font-size: .5em;
					padding-left: 1em;
					padding-right: 1em;
					margin-left: 1em;
					border-left: 2px solid var(--app-accent-background);
				}
			}
		}

		img {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-self: center;
			width: 100%;
			height: auto;
			flex-grow: 0;
			flex-shrink: 3;
			padding: 0;
		}

		.home-top-column {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-self: center;
			height: 200px;
			margin: 0;
			box-sizing: border-box;
			padding: 16px 32px;
			font-size: var(--app-small-font-size);
			overflow: hidden;

			p {
				line-height: 1.4;
				margin: 1em 0;
				font-size: var(--app-small-font-size);
			}

			ul {
				padding-left: 0;

				li {
					white-space: nowrap;
					list-style-type: circle;
					list-style-position: inside;
				}
			}
		}
	}
}

@media screen and (max-width: @app-media-narrow) {
	.home-top-panel {
		.app-top-panel-content {
			grid-template-columns: 1.5fr 1fr 0;
		}
	}
}

@media screen and (max-width: @app-media-header-middle) {
	.home-top-panel {
		.app-top-panel-content {
			grid-template-columns: 1fr 1fr 0;
		}
	}
}

@media screen and (max-width: @app-media-header-min) {
	.home-top-panel {
		.app-top-panel-content {
			grid-template-columns: 1fr 0 0;
		}
	}
}

.home-description-wrap {
	overflow: hidden;
	position: relative;
	display: flex;
	width: 100%;

	.home-description-left,
	.home-description-right {
		display: block;
		padding: 10px 0;
		margin: 0;
		text-align: justify;
		width: 50%;
	}

	.home-description-left {
		padding-right: 20px;
	}

	.home-description-right {
		padding-left: 20px;
	}

	.home-description-col1,
	.home-description-col2 {
		display: block;
		padding: 10px 0;
		margin: 0;
		text-align: justify;
		width: calc(50% + 220px);
	}

	.home-description-col1:before,
	.home-description-col2:before {
		// top padding to image
		float: right;
		width: 1px;
		height: 100px;
		content: " ";
	}

	.home-description-col2:before {
		float: left;
	}

	.image {
		float: right;
		clear: right;
		display: block;
		margin: 20px -20px 20px 20px;
		border-radius: 50%;
		border: 10px solid var(--app-background-darken);
		background-color: var(--app-accent-background);
		shape-outside: circle(50%);
		overflow: hidden;
		width: 400px;
		height: 400px;

		background-image: url("/images/crank_opt.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
		transition: all .4s ease;

		&:hover {
			transform: rotate(1deg);
		}
	}

	.home-description-col2 {
		.image {
			float: left;
			margin: 20px 20px 20px 0;
			clear: left;
		}
	}

	.home-description-col1 {
		padding-right: 20px;

		.home-description-inner {
			margin-right: 220px;
		}
	}

	.home-description-col2 {
		padding-left: 20px;

		.home-description-inner {
			margin-left: 220px;
		}

		margin-left: -440px;
	}
}

@media screen and (max-width: 800px) {
	.home-description-wrap {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;

		.home-description-col1, .home-description-col2 {
			padding: 10px !important;

			&:before {
				display: none;
			}
		}

		.home-description-left,
		.home-description-right {
			width: 100%;
			float: none !important;
			clear: both;
			margin: 0;
			padding: 0 16px;
			border: 1px solid transparent;
			box-sizing: border-box;
		}

		.home-description-col1,
		.home-description-col2 {
			width: 100%;
			float: none !important;
			clear: both;
			margin: 0;
			padding: 0 16px;
			border: 1px solid transparent;
			box-sizing: border-box;
		}

		.home-description-inner {
			margin: 0 !important;
		}

		.home-description-col2 .image {
			display: none;
		}

		.image {
			float: none;
			clear: both;
			margin: 0 auto;
		}
	}
}
