.application-layout-example {
	margin: 2em auto;
	padding: 24px;
	background-color: var(--app-background-lighten-shade-5);
	max-width: 800px;
	display: flex;
	align-self: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	flex-flow: column nowrap;

	.apl-container {
		display: flex;
		flex-flow: column nowrap;
		border: 1px dashed #eee;
		padding: 2px;
		width: 100%;
		position: relative;

		.apl-top-panel, .apl-main-menu, .apl-side-menu, .apl-breadcrumbs, .apl-page, .apl-footer {
			display: flex;
			white-space: nowrap;
			flex-flow: row nowrap;
			align-content: center;
			align-items: center;
			justify-content: center;
			justify-items: center;
			min-height: 32px;
			font-size: var(--app-small-font-size);
			color: #162132;
			position: relative;
			border-radius: 6px;
			margin-bottom: 2px;

			&:before, &:after {
				content: '';
				position: absolute;
				border-left: 1px dashed #f2f2f2;
				top: 0;
				bottom: 0;
				left: 64px;
			}

			&:after {
				left: unset;
				right: 64px;
			}

			i {
				font-style: normal;
				background-color: rgba(0, 0, 0, .2);
				padding: 4px 8px;
				border-radius: 3px;
				margin: 0 1em;
				transition: all .2s ease;
				color: #fff;

				&:hover {
					background-color: rgba(0, 0, 0, .3);
					cursor: pointer;
					color: #fff;
				}
			}
		}

		.apl-top-panel {
			background-color: #93ccfa;
			height: 48px;
		}

		.apl-main-menu {
			background-color: #64f6ea;
		}

		.apl-side-menu {
			background-color: #64f6ea;
			position: absolute;
			width: 48px;
			top: 52px;
			left: 2px;
			bottom: 2px;

			i {
				transform: rotate(-90deg);
				white-space: nowrap;
			}

			&:after, &:before {
				display: none;
			}
		}

		.apl-breadcrumbs {
			background-color: #f6f464;
		}

		.apl-page {
			background-color: var(--app-background);
			color: var(--app-color);
			min-height: 170px;
			padding: 8px 70px;
			align-items: flex-start;

			.apl-page-content {
				display: flex;
				flex-flow: column wrap;
				width: 100%;

				.lipsum-para {
					margin-top: 1em;
					padding-left: 1em;
					width: 100%;
					display: block;
					float: none;
					clear: both;

					p {
						display: block;
						float: none;
						clear: both;
						font-size: .9em;
						white-space: normal;
					}
				}
			}

			.apl-page-nav {
				padding: 16px 8px;
				margin-left: 16px;
				display: flex;
				flex-grow: 0;
				flex-shrink: 0;
				white-space: normal;
				flex-flow: column wrap;
				text-align: center;
				align-self: stretch;
				min-height: 170px;
				width: 100px;
				background-color: #eee;

				p {
					font-size: .8em;
				}
			}

			.apl-page-related {
				display: flex;
				flex-grow: 0;
				flex-shrink: 0;
				white-space: normal;
				flex-flow: column wrap;
				text-align: center;
				align-self: stretch;
				margin-top: auto;
				width: 100px;
				background-color: #eee;

				p {
					font-size: .8em;
				}
			}
		}

		.apl-footer {
			background-color: #d7f5a1;
		}

		.apl-dimension {
			margin: 0 67px;
		}
	}

	&.has-side-menu {
		.apl-breadcrumbs, .apl-page, .apl-footer {
			margin-left: 64px;

			&:before {
				left: 0;
			}
		}

		.apl-page {
			padding-left: 4px;
		}
	}

	.apl-dimension {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		font-size: .8em;
		height: 32px;
		padding: 0;

		&:after {
			content: '';
			display: block;
			position: absolute;
			padding: 0;
			margin: 0;
			top: 16px;
			left: 0;
			right: 0;
			height: 1px;
			border-bottom: 1px solid #ddd;
		}

		&:before {
			display: none;
		}

		b {
			font-weight: normal;
			background-color: #fff;
			display: inline-flex;
			z-index: 1;
			padding: 0 6px;
			color: #999;
			font-style: italic;
		}

		.apld-left-arrow, .apld-right-arrow {
			display: block;
			position: absolute;
			width: 6px;
			height: 6px;
			top: 14px;
			left: 0;
			transform-origin: center center;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			transform: rotate(45deg);
		}

		.apld-right-arrow {
			left: unset;
			right: 0;
			transform: rotate(-135deg);
		}
	}
}

.example-top-green-panel {
	background-color: #89cb1e;
	color: #2e5113;
	padding: 0;
	margin: 0;

	h1, h2, h3, p, div {
		color: #2e5113 !important;
		margin: 0;
		padding: 0;
	}

	.app-top-panel-content {
		padding: 0;
	}

	table {
		background-color: #89cb1e;
		border-collapse: collapse;
		border-spacing: 0;
		border: none;

		tr {
			td {
				border: none;
				vertical-align: center;

				div.lipsum-para {
					margin-left: 16px;

					p {
						font-size: .7em;
						color: #e1ffc9 !important;
					}
				}

				&:first-of-type {
					border-right: 1px dotted rgba(255, 255, 255, .4);
				}
			}
		}
	}
}
