.with-page-menu {
	.app-breadcrumbs {
		background-color: var(--app-background-darken);
		box-shadow: 0 8px 16px var(--app-background);

		.app-breadcrumbs-content {
			.app-breadcrumbs-panel {
				background: none;
				box-shadow: none !important;
			}
		}
	}
}

.page-submenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: var(--app-breadcrumbs-height);
	font-size: var(--app-menu-font-size);
	box-sizing: border-box;

	.page-submenu-item {
		display: inline-flex;
		cursor: pointer;
		white-space: nowrap;
		flex-shrink: 0;
		flex-grow: 0;
		height: calc(var(--app-breadcrumbs-height) - 16px);
		padding: 0 16px;
		color: var(--app-link-color);
		transition: all .2s ease;
		margin: 8px 0;
		background-color: var(--app-background);
		box-shadow: 0 0 1px rgba(0, 0, 0, .2), inset 0 0 1px rgba(255, 255, 255, .9);

		&:first-child {
			margin-left: 8px !important;
		}

		&:last-child {
			margin-right: 8px !important;
		}

		&:hover, &:active, &:focus {
			color: var(--app-link-color-active);
			background-color: var(--app-background-lighten);
			box-shadow: 0 0 1px rgba(0, 0, 0, .4);
		}

		&.active {
			pointer-events: none;
			// font-weight: bold;
			color: var(--app-link-color-active);
			position: relative;
			background-color: var(--app-primary-bright-background);
			box-shadow: 0 0 1px rgba(0, 0, 0, .3);
		}
	}
}
